<!-- Modal -->
<div class="modal fade" id="modalRoles" tabindex="-1" role="dialog" aria-labelledby="modalRolesLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRolesLabel">Agregar Nuevo Rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulario para capturar información -->
                <form id="formularioRoles">
                    <div class="form-group">
                        <label for="codrole">Código de Rol:</label>
                        <input type="text" class="form-control" id="codrole" name="codrole" maxlength="20" pattern="[A-Za-z0-9]+" title="El código no debe contener espacios ni caracteres especiales" required>
                        <small>El código no debe contener espacios ni caracteres especiales.</small>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" maxlength="150" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="guardarRol">Guardar Rol</button>
                </form>
            </div>
        </div>
    </div>
</div>
