{# components/tabla.html.twig #}
<div class="card">
  <div class="card-header">Asignación de Permisos</div>
  <div class="card-body">
    <table id="" class="table table-bordered dataTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ROL</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        {% for role in fsc.roles %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <th>{{ role.codrole }}</th>
          <th>{{ role.descripcion }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
