{# components/tabla.html.twig #}
<div class="card">
  <div class="card-header">Asignación de Permisos</div>
  
  <div class="card-body">
    <button id="agregarPermisoBtn" class="btn btn-primary btn-sm mb-3">Agregar permiso</button> {# Agregamos un margen inferior al botón #}
    <table id="" class="table table-bordered dataTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ROL</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Acciones</th> {# Nueva columna para las acciones #}
        </tr>
        </tr>
      </thead>
      <tbody>
        {% for role in fsc.roles %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <th>{{ role.codrole }}</th>
          <th>{{ role.descripcion }}</th>
          <th>
            <button type="button" class="btn btn-danger btn-sm">Eliminar</button> {# Nuevo botón de eliminar #}
          </th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
